* {
  font-family: sans-serif;
}

div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border: 10px dotted black;
  border-radius: 10px;
  flex: 1;
}

.boite, .contact {
  padding: 10px;
  box-shadow: 10px 8px 15px #223300;
  background-image: linear-gradient(to right, #eeff99, gold);
}

.boite {
  border-image: url("./../images/premiere_piece.png") 35% stretch;
}

.contact {
  display: inline;
  border-image: url("./../images/premiere_piece.png") 30% repeat;
}

header div {
    background-image: url("./../images/billet.jpg");
}

img {
  height: 290px;
}

footer div {
  background-image: url("https://image.freepik.com/vecteurs-libre/carte-grise-du-monde_1053-431.jpg");
  background-position:center;
  background-color: black;
  background-blend-mode:exclusion;
}

header, main, footer {
  display: flex;
  justify-content: space-around;
}

header {
  max-height: 360px;
}

.conteneur {
  width: 100%;
  max-width: 860px;
  padding: 10px;
  margin-top: 15px;
  background-color: lightgrey;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #222222;
}

a:active, a:hover {
  font-size: 200%;
  color: #882200;
}

h1:first-letter, h2:first-letter {                       /* Pour la première lettre de chaque paragraphes : */
  font-weight: bold;
  font-size: 32px;
  color: #993300;                      /* De couleur bleu foncée    */
}

header i {
  font-family: serif;
  font-size: 30px;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-family: fantasy;
  font-weight: 100;
  padding: 15px 5px;
  margin-top: 0;
  flex-grow: 2;
}

h2 {
  margin-top: 0;
  font-size: 120%;
  font-family: serif;
}

header h1 {
  background-image:
    repeating-linear-gradient(rgba(230, 205, 160, 0.5), rgba(250, 235, 230, 0.5), rgba(230, 205, 160, 0.5), rgba(250, 255, 250, 0.2));
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin-left: -30px;
  font-weight: bold;
  font-size: 15px;
}

li::before {
  content: '$ ';
}

li {
  padding: 10px 8px 5px 15px;
  font-weight: lighter;
  font-size: 12px;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
  text-decoration:overline;
}

iframe {
  margin: auto;
  width: 50%;
  height: 300px;
  margin-right: 30px;
}
